In [113]:
import pymysql
import pandas as pd

myconnection=pymysql.connect(host='127.0.0.1',user='root',password='admin2212')

In [115]:
import pandas as pd
df=pd.read_csv("statename.csv")

In [117]:
df

,busroute,links,busname,bustype,departure,arrival,traveltime,busrating,busfare,busseats
0,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...,SBSTC-BURDWAN - KOLKATA - 05:45 (BWN DEPOT) - 2,Non AC Seater (2+3),05:45,07:45,02h 00m,4.2,95,31
1,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...,SBSTC-BURDWAN - KOLKATA - 06:15 (BWN DEPOT) - 4,Non AC Seater (2+3),06:15,08:15,02h 00m,3.8,95,33
2,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...,SBSTC-BURDWAN - KARUNAMOYEE - 07:10 (BWN DEPOT...,Non AC Seater (2+3),07:10,09:40,02h 30m,4.2,100,1
3,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...,SBSTC-BURDWAN - KOLKATA - 07:25 (BWN DEPOT) - 9,Non AC Seater (2+3),07:25,09:25,02h 00m,4.1,95,18
4,Burdwan to Kolkata,https://www.redbus.in/bus-tickets/burdwan-to-k...,SBSTC-BURDWAN - KARUNAMOYEE - 08:00 (BWN DEPOT...,Non AC Seater (2+3),08:00,10:30,02h 30m,4.1,100,5
...,...,...,...,...,...,...,...,...,...,...
1760,Purulia to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/purulia-to-d...,SBSTC-BAGMUNDI - KOLKATA - 05:00 (BEL DEPOT) -...,Non AC Seater (2+3),06:50,10:50,04h 00m,3.6,117,51
1761,Purulia to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/purulia-to-d...,SBSTC-PURULIA - KOLKATA - 07:15 - (VIA ASN) (H...,Non AC Seater (2+3),07:15,11:05,03h 50m,4.6,112,52
1762,Purulia to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/purulia-to-d...,SBSTC-PURULIA - BERHAMPUR - 07:30 (PRL DEPOT) ...,Non AC Seater (2+3),07:30,11:20,03h 50m,3.4,112,52
1763,Purulia to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/purulia-to-d...,SBSTC-PURULIA - KOLKATA - VIA - ASN - 09:15 (P...,Non AC Seater (2+3),09:15,13:30,04h 15m,4.0,112,50
1764,Purulia to Durgapur (West Bengal),https://www.redbus.in/bus-tickets/purulia-to-d...,WBTC (CTC) KOLKATA - ASANSOL - PURULIA (AC VOL...,Volvo AC Seater (2+2),05:45,08:55,03h 10m,4.1,240,25

In [21]:
df.dtypes

busroute       object
links          object
busname        object
bustype        object
departure      object
arrival        object
traveltime     object
busrating     float64
busfare         int64
busseats        int64
dtype: object

In [89]:
a=",".join(f"{i} {j}"
for i,j in zip(df.columns,df.dtypes)).replace("object","text").replace("float64","float").replace("int64","int")

In [ ]:
f"create table statename (id int auto_increment primary key,{a})"

In [119]:
myconnection.cursor().execute(f"create table redbus.statename (id int auto_increment primary key,{a})")

0

In [121]:
sql="insert into redbus.statename(busroute,links,busname,bustype,departure,arrival,traveltime,busrating,busfare,busseats) values"
for i in range(len(df)):
    myconnection.cursor().execute(f"{sql} {tuple(df.iloc[i])}")
    myconnection.commit()